.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para crear columnas de 4 */
}

.card {
    width: calc(25% - 100px); /* Ajusta el ancho de la tarjeta para 4 columnas */
    margin: 10px; /* Espaciado entre las tarjetas */
    padding: 20px;
    background-color: #ffffff; /* Color de fondo de la tarjeta */
    box-shadow: 0px 10px 10px rgb(7 7 7 / 49%); /* Sombreado */
    border-radius: 25px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 25px;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.search-form {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
}

.search-button {
    background-color: #0070d2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #0050a2;
}

/* cocktailModal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f2f2f2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.descri {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close {
    float: right;
    cursor: pointer;
}