
<template>
    <div class="">
        <div class="container">
            <div class="search-form">
                <input
                    type="text"
                    placeholder="Buscar cóctel..."
                    value={searchInput}
                    oninput={handleSearchInputChange}
                />
                <button class="search-button" onclick={handleSearchClick}>Buscar</button>
            </div>
        </div>
    </div>
    <template if:true={cocktails.length}>
        <div class="container">
            <template for:each={cocktails} for:item="cocktail">
                <div key={cocktail.idDrink} class="card">
                    <img src={cocktail.strDrinkThumb} alt={cocktail.strDrink} />
                    <div class="card-content">
                        <h2>{cocktail.strDrink}</h2>
                        <p>Categoría: {cocktail.strCategory}</p>
                        <p class="descri">Descripción: {cocktail.strInstructions}</p>
                        <p>Ingredientes: {cocktail.strIngredient1}, {cocktail.strIngredient2}, {cocktail.strIngredient3}, {cocktail.strIngredient4}</p>
                        <button data-id={cocktail.idDrink} onclick={handleModalOpen}>Ver Detalles</button>
                    </div>
                </div>
            </template>
        </div>
    </template>
    <template if:false={cocktails.length}>
        <p>Sin bebidas Cargadas o no se encontraron bebidas</p>
    </template>
    <template if:true={showModal}>
        <section
            role="dialog"
            tabindex="-1"
            aria-modal="true"
            aria-labelledby="error-modal-heading-01"
            class="slds-modal slds-fade-in-open"
        >
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close"
                        onclick={closeCocktailModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        ></lightning-icon>
                    </button>
                    <h2 id="error-modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Campos Adicionales</h2>
                </header>
                <div class="slds-modal__content slds-p-around_large">
                    <div class="modal-content">
                        <h2>{selectedCocktail.strDrink}</h2>
                        <p>Descripción: {selectedCocktail.strInstructions}</p>
                        <!-- Otros detalles del cóctel -->
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    
</template>
